/*------------------------------------*\
  $BASE
\*------------------------------------*/



html,
button,
input,
select,
textarea {
  color: @font-a-color;
  font-family: @font-a-family;
}

body {
  font-weight: @font-a-weight-normal;
  font-size: @base-font-size;
  line-height: @base-line-height;
}

/**
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: @selection-background;
  color: @selection-color;
  text-shadow: none;
}

::selection {
  background: @selection-background;
  color: @selection-color;
  text-shadow: none;
}

/**
 * A better looking default horizontal rule
 */
hr {
  display: block;
  margin-top: @spacing-top;
  margin-bottom: @spacing-bottom;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

/**
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}