/*------------------------------------*\
  $FIELD
\*------------------------------------*/



/**
 * Label styling
 */
.field__label {
  font-weight: @font-a-weight-bold;
}

.field--label-inline {
  .field__label,
  .field__items,
  .field__item {
    display: inline;
  }
}