/*------------------------------------*\
  $FORM
\*------------------------------------*/



input,
select,
textarea {
  &:focus {
    outline: none;
  }
}

/**
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/**
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}