/*------------------------------------*\
  $GRID
\*------------------------------------*/
/**
 * CONTENTS
 * BASE................
 * SMALL...............
 * MEDIUM..............
 * LARGE...............
 *
 *
 * <div class="grid">
 *   <div class="grid__item--6 grid__item--m--3">
 *     [optional]<div class="grid__inner"></div>[/optional]
 *   </div>
 *   <div class="grid__item--6 grid__item--m--3">
 *     [optional]<div class="grid__inner"></div>[/optional]
 *   </div>
 *   <div class="grid__item--12 grid__item--s--6">
 *     [optional]<div class="grid__inner"></div>[/optional]
 *   </div>
 *   <div class="grid__item--12 grid__item--s--6">
 *     [optional]<div class="grid__inner"></div>[/optional]
 *   </div>
 * </div>
 */



/*------------------------------------*\
  $BASE
\*------------------------------------*/
/**
 * Styles for all devices
 */
@grid-base-size: (100% / 12);

.grid {
  .clearfix();
  margin-left: -@grid-spacing;
}

[class*="grid__item"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: @grid-spacing;
  width: 100%;
}

.grid__item--1  { width: (@grid-base-size * 1);  }
.grid__item--2  { width: (@grid-base-size * 2);  }
.grid__item--3  { width: (@grid-base-size * 3);  }
.grid__item--4  { width: (@grid-base-size * 4);  }
.grid__item--5  { width: (@grid-base-size * 5);  }
.grid__item--6  { width: (@grid-base-size * 6);  }
.grid__item--7  { width: (@grid-base-size * 7);  }
.grid__item--8  { width: (@grid-base-size * 8);  }
.grid__item--9  { width: (@grid-base-size * 9);  }
.grid__item--10 { width: (@grid-base-size * 10); }
.grid__item--11 { width: (@grid-base-size * 11); }
.grid__item--12 { width: (@grid-base-size * 12); }



/*------------------------------------*\
  $SMALL
\*------------------------------------*/
/**
 * Devices with small screens
 * e.g. Tablets in portrait mode, Netbooks...
 */
@media only screen and (min-width: @base-breakpoint-s) {
  .grid {
    margin-left: -@grid-spacing-s;
  }

  [class*="grid__item"] {
    padding-left: @grid-spacing-s;
  }

  .grid__item--s--1  { width: (@grid-base-size * 1);  }
  .grid__item--s--2  { width: (@grid-base-size * 2);  }
  .grid__item--s--3  { width: (@grid-base-size * 3);  }
  .grid__item--s--4  { width: (@grid-base-size * 4);  }
  .grid__item--s--5  { width: (@grid-base-size * 5);  }
  .grid__item--s--6  { width: (@grid-base-size * 6);  }
  .grid__item--s--7  { width: (@grid-base-size * 7);  }
  .grid__item--s--8  { width: (@grid-base-size * 8);  }
  .grid__item--s--9  { width: (@grid-base-size * 9);  }
  .grid__item--s--10 { width: (@grid-base-size * 10); }
  .grid__item--s--11 { width: (@grid-base-size * 11); }
  .grid__item--s--12 { width: (@grid-base-size * 12); }
}



/*------------------------------------*\
  $MEDIUM
\*------------------------------------*/
/**
 * Devices with medium screens
 * e.g. Tablets in landscape mode, Notebooks, low resolution Monitors...
 */
@media only screen and (min-width: @base-breakpoint-m) {
  .grid {
    margin-left: -@grid-spacing-m;
  }

  [class*="grid__item"] {
    padding-left: @grid-spacing-m;
  }

  .grid__item--m--1  { width: (@grid-base-size * 1);  }
  .grid__item--m--2  { width: (@grid-base-size * 2);  }
  .grid__item--m--3  { width: (@grid-base-size * 3);  }
  .grid__item--m--4  { width: (@grid-base-size * 4);  }
  .grid__item--m--5  { width: (@grid-base-size * 5);  }
  .grid__item--m--6  { width: (@grid-base-size * 6);  }
  .grid__item--m--7  { width: (@grid-base-size * 7);  }
  .grid__item--m--8  { width: (@grid-base-size * 8);  }
  .grid__item--m--9  { width: (@grid-base-size * 9);  }
  .grid__item--m--10 { width: (@grid-base-size * 10); }
  .grid__item--m--11 { width: (@grid-base-size * 11); }
  .grid__item--m--12 { width: (@grid-base-size * 12); }
}



/*------------------------------------*\
  $LARGE
\*------------------------------------*/
/**
 * Devices with large screens
 * e.g. Notebooks, Desktops, TV's...
 */
@media only screen and (min-width: @base-breakpoint-l) {
  .grid {
    margin-left: -@grid-spacing-l;
  }

  [class*="grid__item"] {
    padding-left: @grid-spacing-l;
  }

  .grid__item--l--1  { width: (@grid-base-size * 1);  }
  .grid__item--l--2  { width: (@grid-base-size * 2);  }
  .grid__item--l--3  { width: (@grid-base-size * 3);  }
  .grid__item--l--4  { width: (@grid-base-size * 4);  }
  .grid__item--l--5  { width: (@grid-base-size * 5);  }
  .grid__item--l--6  { width: (@grid-base-size * 6);  }
  .grid__item--l--7  { width: (@grid-base-size * 7);  }
  .grid__item--l--8  { width: (@grid-base-size * 8);  }
  .grid__item--l--9  { width: (@grid-base-size * 9);  }
  .grid__item--l--10 { width: (@grid-base-size * 10); }
  .grid__item--l--11 { width: (@grid-base-size * 11); }
  .grid__item--l--12 { width: (@grid-base-size * 12); }
}