/*------------------------------------*\
  $HELPER
\*------------------------------------*/
/**
 * CONTENTS
 * GRADIENT............
 * TRANSFORM...........
 * TRANSITION..........
 * LOADER..............
 */



/*------------------------------------*\
  $GRADIENT
\*------------------------------------*/

#gradient {
  .vertical (@start: #EEE, @stop: #FFF, @ie: true) {
    background: @start;
    background: -moz-linear-gradient(top, @start 0%, @stop 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start), color-stop(100%, @stop));
    background: -webkit-linear-gradient(top, @start 0%, @stop 100%);
    background: -o-linear-gradient(top, @start 0%, @stop 100%);
    background: -ms-linear-gradient(top, @start 0%, @stop 100%);
    background: linear-gradient(to bottom, @start 0%, @stop 100%);
    #gradient > .vertical-ie(@start, @stop, @ie);
  }
  .vertical-ie (@start, @stop, @ie) when (@ie = true) {
    filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{start}', endColorstr='@{stop}',GradientType=0)";
  }

  .horizontal (@start: #EEE, @stop: #FFF, @ie: true) {
    background: @start;
    background: -moz-linear-gradient(left, @start 0%, @stop 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, @start), color-stop(100%, @stop));
    background: -webkit-linear-gradient(left, @start 0%, @stop 100%);
    background: -o-linear-gradient(left, @start 0%, @stop 100%);
    background: -ms-linear-gradient(left, @start 0%, @stop 100%);
    background: linear-gradient(to right, @start 0%, @stop 100%);
    #gradient > .horizontal-ie(@start, @stop, @ie);
  }
  .horizontal-ie (@start, @stop, @ie) when (@ie = true) {
    filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{start}', endColorstr='@{stop}',GradientType=1)";
  }
}



/*------------------------------------*\
  $TRANSFORM
\*------------------------------------*/

#transform {
  .rotate (@deg: 5deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    transform: rotate(@deg);
  }

  .scale (@ratio: 1.5) {
    -webkit-transform: scale(@ratio);
    -moz-transform: scale(@ratio);
    -ms-transform: scale(@ratio);
    transform: scale(@ratio);
  }

  .translate (@x: 0, @y: 0) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    transform: translate(@x, @y);
  }

  .translate3d (@x: 0, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
    -moz-transform: translate3d(@x, @y, @z);
    -ms-transform: translate3d(@x, @y, @z);
    transform: translate3d(@x, @y, @z);
  }

  .opacity (@opacity: 0.5, @ie: true) {
    opacity: @opacity;
    #transform > .opacity-ie(@opacity, @ie);
  }
  .opacity-ie (@opacity, @ie) when (@ie = true) {
    @percent: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{percent})"; // IE 8
    filter: ~"alpha(opacity=@{percent})"; // IE 5-7
  }
}



/*------------------------------------*\
  $TRANSITION
\*------------------------------------*/

#transition {
  .all (@duration: 0.2s, @ease: ease-out, @delay: 0) {
    -webkit-transition: all @duration @ease @delay;
    -moz-transition: all @duration @ease @delay;
    -ms-transition: all @duration @ease @delay;
    transition: all @duration @ease @delay;
  }

  .property (@property: width, @duration: 0.2s, @ease:ease-out, @delay: 0) {
    -webkit-transition: @property @duration @ease @delay;
    -moz-transition: @property @duration @ease @delay;
    -ms-transition: @property @duration @ease @delay;
    transition: @property @duration @ease @delay;
  }

  .duration (@duration: 0.2s) {
    -webkit-transition-duration: @duration;
    -moz-transition-duration: @duration;
    -ms-transition-duration: @duration;
    transition-duration: @duration;
  }
}



/*------------------------------------*\
  $LOADER
\*------------------------------------*/

#loader {
  /**
   * Spining points effect
   * Demo: http://codepen.io/jshawl/pen/IFxBK
   */
  .spining-points (@size: 1, @color: #222, @class: loader, @duration: 1.5s) {
    .@{class},
    .@{class}:before,
    .@{class}:after {
      display: block;
      width: @size + em;
      height: @size + em;
      border-radius: 100%;
      background: @color;
      -webkit-animation: pointsspin @duration ease infinite;
      -moz-animation: pointsspin @duration ease infinite;
      animation: pointsspin @duration ease infinite;
    }

    .@{class} {
      position: relative;
      margin: 0 auto;

      &:before,
      &:after {
        position: absolute;
        content: '';
      }

      &:before {
        left: -(@size * 1.15) + em;
      }

      &:after {
        left: (@size * 1.15) + em;
      }
    }

    @-webkit-keyframes pointsspin {
      0% {
        top: 0;
        -webkit-transform: rotate(0);
      }

      50% {
        top: -(@size * 2) + em;
        -webkit-transform: rotate(-180deg);
      }

      100% {
        top: 0;
        -webkit-transform: rotate(-360deg);
      }
    }

    @-moz-keyframes pointsspin {
      0% {
        top: 0;
        -moz-transform: rotate(0);
      }

      50% {
        top: -(@size * 2) + em;
        -moz-transform: rotate(-180deg);
      }

      100% {
        top: 0;
        -moz-transform: rotate(-360deg);
      }
    }

    @keyframes pointsspin {
      0% {
        top: 0;
        transform: rotate(0);
      }

      50% {
        top: -(@size * 2) + em;
        transform: rotate(-180deg);
      }

      100% {
        top: 0;
        transform: rotate(-360deg);
      }
    }
  }

  /**
   * Loading bar effect
   * As seen on youtube
   */
  .loading-bar (@size: 3px, @color: #222, @class: loader, @duration: 5s) {
    .@{class} {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: @size;
      background: @color;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      pointer-events: none;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100%;
        background: @color;
        box-shadow: 0 0 15px @color, 0 0 5px @color;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.2s, box-shadow 2s 4s;
        transition: opacity 0.2s, box-shadow 2s 4s;
        -webkit-transform: rotate(2deg) translateY(-2px);
        transform: rotate(2deg) translateY(-2px);
      }

      &.is-animated {
        z-index: 100;
        opacity: 0;
        -webkit-transition: -webkit-transform @duration ease-in, opacity 1s @duration;
        transition: transform @duration ease-in, opacity 1s @duration;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      &.is-animated:after {
        box-shadow: 0 0 3px @color, 0 0 1px @color;
        opacity: 1;
      }
    }
  }

  /** 
   * Single Point
   * Demo: http://codepen.io/TaniaLD/pen/oKxep (Loader 1)
   */
  .single-point (@size: 8, @color: #222, @class: loader, @duration: 3s) {
    .@{class}{
      position: relative;
      text-align: center;
      margin: 0 auto;
      display: block;
      width: @size + em;
      height: @size + em;
      border-radius: 100%;
      border: 3px solid fade(@color, 80%);

      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-animation: loader1 @duration linear infinite;
      animation: loader1 @duration linear infinite;
    }

    .@{class}:after{
      content: '';
      position: absolute;
      top: .3em;
      left: 20px;
      width: 11px;
      height: 11px;
      border-radius: 100%;
      background-color: @color;
    }

    @-webkit-keyframes loader1 {
        0% {
          -webkit-transform:rotate(0deg);
        }

        100% {
          -webkit-transform:rotate(360deg);
        }
    }

    @keyframes loader1 {
        0% {
          transform:rotate(0deg);
        }
        
        100% {
          transform:rotate(360deg);
        }
    }
  }
}