/*------------------------------------*\
  $NAV
\*------------------------------------*/
/**
 * CONTENTS
 * DEFAULT.............
 * MOBILE..............
 * HORIZONTAL..........
 */



/*------------------------------------*\
  $DEFAULT
\*------------------------------------*/

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  display: block;
  position: relative;
}

.menu__link {
  display: block;
  text-decoration: none;
}

.nolink {
  cursor: default;
}



/*------------------------------------*\
  $MOBILE
\*------------------------------------*/

@media only screen and (max-width: (@base-breakpoint-s - 1)) {
  body {
    position: relative;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }

  .block--main-menu {
    width: 70%; min-height: 100%;
    position: absolute;
    top: 0; left: -70%;
    background: @selection-background;
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    font-size: 0.85em;

    #transition > .property(font-size);

    & > .menu {
      margin-top: 1em;
    }

    .nolink {
      color: rgba(255, 255, 255, 0.6);
    }

    .active {
      position: relative;
      font-weight: @font-a-weight-bold;
      background: rgba(0, 0, 0, 0.1);

      &:after {
        margin-top: -0.625em;
        position: absolute;
        top: 50%; right: -0.03125em;
        display: block;
        border: 0.625em transparent solid;
        border-right: 0.625em white solid;
        z-index: 50;
        content: '';
      }
    }
  }

  .block--main-menu__menu__link,
  .block--main-menu__menu__link:visited {
    padding: 0.625em 1.25em;
    color: #fff;
  }

  .block--main-menu__menu__link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    #transition > .property(background);

    &:hover,
    &:active,
    &:focus {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .block--main-menu__menu__link--level2 {
    padding: 0.625em 1.25em 0.625em 2.5em;
    font-size: 0.9em;
  }

  .csstransforms3d .block--main-menu {
    left: 0;

    #transform > .translate3d(-100%, 0, 0);
  }

  .block--main-menu__show-nav-wrap {
    padding: 1em;
    background: @selection-background;
  }

  .block--main-menu__show-nav,
  .block--main-menu__hide-nav {
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
    color: @selection-color;

    #transition > .property(opacity);

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  .block--main-menu__show-nav {
    margin: 0; padding: 0.125em 0.625em;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.1875em;
  }

  .block--main-menu__hide-nav {
    margin: 1.25em;
  }

  .block--main-menu__show-nav__icon,
  .block--main-menu__hide-nav__icon,
  .block--main-menu__title {
    font-size: 1.2em;
  }

  .block--main-menu__title {
    margin-left: 0.3em;
    text-transform: uppercase;
  }

  .main-menu-active {
    // IE (mobile) fallback
    left: 70%;

    .block--main-menu {
      font-size: 1em;
    }
  }

  .csstransforms3d .main-menu-active {
    left: 0;

    #transform > .translate3d(70%, 0, 0);
  }
}



/*------------------------------------*\
  $HORIZONTAL
\*------------------------------------*/

@media only screen and (min-width: @base-breakpoint-s) {
  .menu--horizontal {
    .menu__item--level1 {
      float: left;
    }

    .menu__item--expanded {
      &:hover > .menu,
      a:active + .menu,
      a:focus + .menu,
      .menu__link--touched + .menu {
        visibility: visible;
        opacity: 1;
      }
    }

    /**
     * Dropdown
     */
    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1002;
      visibility: hidden; // IE fix
      float: left;
      width: 8em;
      background-clip: padding-box;
      opacity: 0;

      #transition > .property(opacity, 0.1s);

      .menu {
        top: 0;
        left: 8em;
      }
    }
  }
}