/*------------------------------------*\
  $TYPOGRAPHY
\*------------------------------------*/
/**
 * CONTENTS
 * HEADLINES...........
 * ANCHORS.............
 * WHITESPACE..........
 */



/*------------------------------------*\
  $HEADLINES
\*------------------------------------*/
/**
 * Reset margin on headlines
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}



/*------------------------------------*\
  $ANCHORS
\*------------------------------------*/
/**
 * <span class="fake-a">readmore...</span>
 */
a,
.fake-a {
  color: @a-color;
  text-decoration: @a-text-decoration;

  &:visited {
    color: @a-color-visited;
  }

  &:hover,
  &:focus {
    color: @a-color-hover;
    text-decoration: @a-text-decoration-hover;
  }
}

/**
 * Style text anchors like normal text on big screens
 * (big screen most likely not mobile)
 */
@media only screen and (min-width: @base-breakpoint-s) {
  a[href^="tel"],
  a[href^="tel"]:hover,
  a[href^="tel"]:focus {
    color: @font-a-color;
    text-decoration: none;
    cursor: default;
  }
}



/*------------------------------------*\
  $WHITESPACE
\*------------------------------------*/
/**
 * Add whitespace around some block elements
 */
p,
ul,
ol,
dl,
pre,
form,
table,
address,
fieldset,
blockquote {
  margin-top: @spacing-top;
  margin-bottom: @spacing-bottom;
}