/*------------------------------------*\
  $UTILITY
\*------------------------------------*/
/**
 * CONTENTS
 * HIDE................
 * CLEARFIX............
 * FLOATS..............
 * ANCHOR..............
 * MEDIA...............
 * ASPECT-RATIO........
 */



/*------------------------------------*\
  $HIDE
\*------------------------------------*/
/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden,
.element-invisible {
  width: 1px; height: 1px;
  margin: -1px; padding: 0;
  position: absolute;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &.focusable:active,
  &.focusable:focus {
    width: auto; height: auto;
    margin: 0;
    position: static;
    overflow: visible;
    clip: auto;
  }
}

/**
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}



/*------------------------------------*\
  $CLEARFIX
\*------------------------------------*/
/**
 * Contain floats
 */
.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
  }
}



/*------------------------------------*\
  $FLOATS
\*------------------------------------*/
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}



/*------------------------------------*\
  $ANCHOR
\*------------------------------------*/
/**
 * Formatting for a block anchor
 *
 *
 * <a class="a--block" href="#">
 *   <img src="pony.png">
 *   <p>Lorem Ipsum</p>
 *   <span class="fake-a">readmore...</span>
 * </a>
 */
.a--block,
.a--block:hover,
.a--block:focus,
.a--block:visited {
  color: @font-a-color;
}

.a--block {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    .fake-a {
      text-decoration: @a-text-decoration-hover;
    }

    .reversed-link {
      text-decoration: @a-text-decoration;
    }
  }
}

/**
 * Reversed link behaviour
 */
.a--reversed {
  text-decoration: @a-text-decoration-hover;

  &:hover,
  &:focus {
    text-decoration: @a-text-decoration;
  }
}



/*------------------------------------*\
  $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 *
 *
 * <div class="media">
 *   <a href="#" class="media__img">
 *     <img src="pony.png">
 *   </a>
 *   [optional]
 *   <div class="media__img--rev">
 *     <img src="pony2.png">
 *   </div>
 *   [/optional]
 *   <div class="media__body">
 *     <p>Lorem Ipsum</p>
 *   </div>
 * </div>
 */
.media {
  .clearfix();
}

.media__img {
  float: left;
  margin-right: @spacing-m;
}

/**
 * Reversed image location (right instead of left).
 */
.media__img--rev {
  float: right;
  margin-left: @spacing-m;
}

.media__img img,
.media__img--rev img {
  display: block;
}

.media__body {
  overflow: hidden;
  _overflow: visible; zoom: 1;
}

/**
 * Reset media styling
 * e.g. on a specific viewport width
 */
.media--reset () {
  .media__img {
    float: none;
    margin-right: 0;
  }

  .media__img--rev {
    float: none;
    margin-left: 0;
  }
}

/*------------------------------------*\
  $ASPECT-RATIO
\*------------------------------------*/
/**
 * Usage:
 * U need a extra class to define the ratio
 *
 * E.g.
 * .aspect-ratio--NAME {
 *   &:before {
 *     padding-top: 41.666666%;  // initial ratio
 *   }
 * }
 *
 * <div class="aspect-ratio aspect-ratio--NAME">
 *   <div class="aspect-ratio__inner">
 *     Content
 *   </div>
 * </div>
 */
.aspect-ratio {
  position: relative;

  &:before {
    display: block;
    content: '';
  }
}

.aspect-ratio__inner {
  position:  absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-ratio--slideshow:before {
  padding-top: 50%;  /* initial ratio */
}