/*------------------------------------*\
  $TABS
\*------------------------------------*/



.tabs.primary {
  margin: 1em 0; padding: 0;
  list-style: none;
  overflow: hidden;
}

.tabs.primary li {
  float: left;
}

.tabs.primary a {
  padding: 0.25em 0.75em;
  display: block;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #222;
}

.tabs.primary a.active {
  border: 1px solid #ccc;
  border-bottom: none;
}

.tabs.primary a:hover:not(.active) {
  background: #efefef;
}