/*------------------------------------*\
  $BUTTON
\*------------------------------------*/
/**
 * CONTENTS
 * BASE................
 * SIZES...............
 * FONT-SIZES..........
 * FUNCTIONS...........
 */



/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Look & feel
 */
.button,
.button:visited {
  color: #fff;
}

.button {
  border-radius: @border-radius;
  background: @cs-a;

  #transition > .property(background, 0.1s);

  &:active,
  &:hover,
  &:focus {
    background: fade(@cs-a, 10%);
    color: #fff;
  }
}



/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */
.button--s {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 2;
}

// is equivalent to default
//.button--m {
//  padding-right: 1em;
//  padding-left: 1em;
//  line-height: 3;
//}

.button--l {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 4;
}

.button--xl {
  padding-right: 2em;
  padding-left: 2em;
  line-height: 5;
}



/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Button font-size modifiers.
 */
.button--font-size--s {
  font-size: @font-size-s;
}

// is equivalent to default
//.button--font-size--m {
//  font-size: @font-size-m;
//}

.button--font-size--l {
  font-size: @font-size-l;
}

.button--font-size--xl {
  font-size: @font-size-xl;
}



/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/**
 * Readmore style
 */
.button--readmore {
  &:after {
    margin-left: 4px;
    content: '\F101';
    font-family: FontAwesome;
  }
}

/**
 * Positive actions; e.g. sign in, purchase, submit, etc.
 */
.button--positive {
  background-color: @cs-positive;
  color: #fff;
}

/**
 * Negative actions; e.g. close account, delete photo, remove friend, etc.
 */
.button--negative {
  background-color: @cs-negative;
  color: #fff;
}

/**
 * Inactive, disabled buttons.
 *
 * 1. Make the button look like normal text when hovered.
 */
.button--inactive,
.button--inactive:hover,
.button--inactive:active,
.button--inactive:focus {
  background-color: @cs-grey;
  color: @cs-grey-dark;
  cursor: text;                  /* [1] */
}