/*------------------------------------*\
  $FORM
\*------------------------------------*/



label {
  margin: 0;
}

input,
select,
textarea {
  max-width: 100%;
  padding: 0.4em 0.5em;
  border: 1px solid @cs-grey;
  box-shadow: inset 0 2px 3px @cs-grey-light;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  #transition > .property(box-shadow, 0.2s);

  &:focus {
    border-color: @cs-a;
    box-shadow: inset 0 2px 3px @cs-grey-light, 0 0 0.375em @cs-a;
  }
}

/**
 * Items
 */
.form-item {
  margin-bottom: (@spacing-s / 2);

  label {
    display: block;
  }
}