/*------------------------------------*\
  $STYLE
\*------------------------------------*/
/**
 * CONTENTS
 * GENERAL.............
 * HEADER..............
 * SLIDESHOW...........
 * HIGHLIGHTED.........
 * CONTENT.............
 * SIDEBARS............
 * TEASER..............
 * MISC................
 * FOOTER..............
 * BREAKPOINTS.........
 */



/*------------------------------------*\
  $GENERAL
\*------------------------------------*/
/**
 * General styles
 * e.g. body background, tables, lists...
 */
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: @base-container-max-width;
}

/**
 * Responsiv images
 */
img {
  max-width: 100%;
  height: auto;
  width: auto;
}

/**
 * Media reset for Mobile
 */
@media only screen and (max-width: @base-breakpoint-s - 1) {
  .media--reset ();

  .media__img {
    text-align: center;

    img {
      display: inline-block;
    }
  }
}


/*------------------------------------*\
  $HEADER
\*------------------------------------*/



/*------------------------------------*\
  $SLIDESHOW
\*------------------------------------*/



/*------------------------------------*\
  $HIGHLIGHTED
\*------------------------------------*/



/*------------------------------------*\
  $CONTENT
\*------------------------------------*/



/*------------------------------------*\
  $SIDEBARS
\*------------------------------------*/



/*------------------------------------*\
  $TEASER
\*------------------------------------*/



/*------------------------------------*\
  $MISC
\*------------------------------------*/



/*------------------------------------*\
  $FOOTER
\*------------------------------------*/



/*------------------------------------*\
  $BREAKPOINTS
\*------------------------------------*/
/**
 * Use this media queries just for copy & paste!
 * You must not write your styles here!
 */
// mobile only
@media only screen and (max-width: (@base-breakpoint-s - 1)) {}

// small
@media only screen and (min-width: @base-breakpoint-s) {}

// medium
@media only screen and (min-width: @base-breakpoint-m) {}

// large
@media only screen and (min-width: @base-breakpoint-l) {}