/*------------------------------------*\
  $TYPOGRAPHY
\*------------------------------------*/
/**
 * CONTENTS
 * HEADLINES...........
 */



/*------------------------------------*\
  $HEADLINES
\*------------------------------------*/

h1, .h1 {
  margin-bottom: 0.5em;
  color: @font-b-color;
  font-weight: @font-b-weight-bold;
  font-size: @font-size-h1;
  font-family: @font-b-family;
  line-height: 1;
}

h2, .h2 {
  margin-bottom: 0.5em;
  color: @font-b-color;
  font-weight: @font-b-weight-bold;
  font-size: @font-size-h2;
  font-family: @font-b-family;
  line-height: 1;
}

h3, .h3 {
  margin-bottom: 0.5em;
  color: @font-b-color;
  font-weight: @font-b-weight-bold;
  font-size: @font-size-h3;
  font-family: @font-b-family;
  line-height: 1;
}

h4, .h4 {
  margin-bottom: 0.5em;
  color: @font-b-color;
  font-weight: @font-b-weight-normal;
  font-size: @font-size-h4;
  font-family: @font-b-family;
  line-height: 1;
}

h5, .h5 {
  margin-bottom: 0.5em;
  color: @font-a-color;
  font-weight: @font-a-weight-bold;
  font-size: @font-size-h5;
  font-family: @font-a-family;
}

h6, .h6 {
  margin-bottom: 0.5em;
  color: @font-a-color;
  font-weight: @font-a-weight-normal;
  font-size: @font-size-h6;
  font-family: @font-a-family;
}