/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 * COLOR-SHEME.........Set theme colors
 * BASE................
 * FONT................
 * ANCHOR..............
 * SPACING.............
 * SELECTION...........
 * BORDER..............
 * GRID................
 */



/*------------------------------------*\
  $COLOR-SHEME
\*------------------------------------*/
/**
 * Basic colors
 * Fancy generator: https://kuler.adobe.com
 */
@cs-a: #F1AE17;
@cs-b: #B18011;
@cs-c: #71520B;
@cs-d: #FEB718;
@cs-e: #D79C15;

/**
 * Colors for alerts
 * e.g. success, error, info
 */
@cs-positive: #468847;
@cs-neutral:  #3A87AD;
@cs-cautious: #c09853;
@cs-negative: #b94a48;

/**
 * 3 Shades of Grey
 */
@cs-grey:       #CCCCCC;
@cs-grey-dark:  darken(@cs-grey, 15%);
@cs-grey-light: lighten(@cs-grey, 15%);



/*------------------------------------*\
  $BASE
\*------------------------------------*/

@base-font-size:   1em;
@base-line-height: 1.5;

/**
 * Breakpoints
 */
@base-breakpoint-s: 720px;
@base-breakpoint-m: 960px;
@base-breakpoint-l: 1200px;

/**
 * Container
 */
@base-container-max-width: 1200px;



/*------------------------------------*\
  $FONT
\*------------------------------------*/
/**
 * Set the font weight variables according to the font
 * e.g. http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700
 * In this case set the font weights to 200, 400 and 700
 *
 * If you set a font weight in your css you must use this variables!
 * e.g. font-weight: @font-a-weight-normal;
 */

/**
 * Primary font
 */
@font-a-color:  #222;
@font-a-family: 'Helvetica Neue', sans-serif;

@font-a-weight-thin:        100;
@font-a-weight-extra-light: 200;
@font-a-weight-light:       300;
@font-a-weight-normal:      400;
@font-a-weight-medium:      500;
@font-a-weight-demi-bold:   600;
@font-a-weight-bold:        700;
@font-a-weight-heavy:       800;
@font-a-weight-black:       900;

/**
 * Secondary font
 */
@font-b-color:  @cs-a;
@font-b-family: 'Source Sans Pro', sans-serif;

@font-b-weight-thin:        200;
@font-b-weight-extra-light: 200;
@font-b-weight-light:       200;
@font-b-weight-normal:      400;
@font-b-weight-medium:      400;
@font-b-weight-demi-bold:   400;
@font-b-weight-bold:        700;
@font-b-weight-heavy:       700;
@font-b-weight-black:       700;

/**
 * Font-sizes
 */
@font-size-xs:  0.625em;
@font-size-s:   0.75em;
@font-size-m:   @base-font-size; // do not change!
@font-size-l:   2em;
@font-size-xl:  3em;
@font-size-xxl: 4em;

@font-size-h1: 2.25em;
@font-size-h2: 1.875em;
@font-size-h3: 1.5em;
@font-size-h4: 1.25em;
@font-size-h5: 1em;
@font-size-h6: 1em;



/*------------------------------------*\
  $ANCHOR
\*------------------------------------*/

@a-color:                 @cs-a;
@a-color-visited:         @a-color;
@a-color-hover:           @a-color;
@a-text-decoration:       underline;
@a-text-decoration-hover: none;



/*------------------------------------*\
  $SPACING
\*------------------------------------*/

@spacing-s:  1em;
@spacing-m:  1.5em;
@spacing-l:  4em;
@spacing-xl: 6em;

@spacing-top:    0;
@spacing-bottom: @spacing-m;



/*------------------------------------*\
  $SELECTION
\*------------------------------------*/

@selection-background: @a-color;
@selection-color:      #fff;



/*------------------------------------*\
  $BORDER
\*------------------------------------*/

@border-radius: 4px;



/*------------------------------------*\
  $GRID
\*------------------------------------*/
/**
 * Spacing between items
 */
@grid-spacing:   15px;
@grid-spacing-s: 20px;
@grid-spacing-m: 25px;
@grid-spacing-l: 30px;